/************************************************************
 * ISCHAMP Website
 * Created on: May 16,2016
 * License   : delgence
 * Author    : JAYANTA DAS <jayanta2008.das@gmail.com>
 ************************************************************/
@import url(../fonts/FontAwesome/font-awesome.min.css);
/*--------- Common CSS Start -----------------*/
body,
html {
  height: 100%; }

.transparent {
  background-color: transparent !important; }

.no_padding {
  padding: 0px !important; }

.full_width {
  width: 100%; }

.left_padding {
  padding-right: 0px !important; }

.right_padding {
  padding-left: 0px !important; }

.small_padding {
  padding: 0px 5px; }

.small_padding2 {
  padding: 0px 2px !important; }

.medium_padding {
  padding: 0px 10px; }

.padding_right_only5 {
  padding-left: 0px !important;
  padding-right: 5px !important; }

.padding_left_only5 {
  padding-left: 5px !important;
  padding-right: 0px !important; }

.padding_vertical40 {
  padding-top: 40px;
  padding-bottom: 40px; }

.padding_vertical25 {
  padding-top: 25px;
  padding-bottom: 25px; }

.padding_vertical15 {
  padding-top: 15px;
  padding-bottom: 15px; }

.padding_vertical10 {
  padding-top: 10px;
  padding-bottom: 10px; }

.padding_vertical10_only {
  padding: 10px 0px; }

.padding_vertical5 {
  padding-top: 5px;
  padding-bottom: 5px; }

.no_padding_large {
  padding: 0px; }

.padding_horizontal5 {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
  padding-bottom: 0px; }

.padding_horizontal10 {
  padding-left: 10px;
  padding-right: 10px; }

.padding_horizontal0 {
  padding-left: 0px;
  padding-right: 0px; }

.no_both_side_padding {
  padding-left: 0px;
  padding-right: 0px; }

.padding_vertical20 {
  padding: 20px 0; }

.padding_vertical25-10 {
  padding: 25px 10px; }

.padding_25 {
  padding: 25px; }

.padding_20 {
  padding: 20px; }

.padding_top20 {
  padding-top: 20px; }

.padding_10 {
  padding: 10px; }

.padding_15 {
  padding: 15px; }

.padding_left10 {
  padding-left: 10px !important; }

.right_padding5 {
  padding-right: 5px; }

.left_padding_only5 {
  padding: 0px 0px 0px 5px !important; }

.right_padding_only5 {
  padding: 0px 5px 0px 0px !important; }

.left_padding_only10 {
  padding: 0px 0px 0px 10px !important; }

.right_padding_only10 {
  padding: 0px 10px 0px 0px !important; }

.left_padding5 {
  padding-left: 5px; }

.padding_5 {
  padding: 5px !important; }

.left_align_padding {
  padding: 0px 5px 0px 0px; }

.right_align_padding {
  padding: 0px 0px 0px 5px; }

.no_margin_bottom {
  margin-bottom: 0px !important; }

.no_margin_top {
  margin-top: 0px !important; }

.color_white {
  background-color: #fff !important; }

.padding_2 {
  padding: 2px !important; }

.double_padding {
  padding-right: 30px;
  padding-left: 30px; }

.margin_top10 {
  margin-top: 10px; }

.margin_top15 {
  margin-top: 15px; }

.margin_top5 {
  margin-top: 5px; }

.margin_left5 {
  margin-left: 5px; }

.margin_left10 {
  margin-left: 10px; }

.margin_right5 {
  margin-right: 5px; }

.margin_right10 {
  margin-right: 10px; }

.margin_left30 {
  margin-left: 30px; }

.margin_left25 {
  margin-left: 25px; }

.margin_bottom5 {
  margin-bottom: 5px !important; }

.margin_bottom10 {
  margin-bottom: 10px !important; }

.margin_bottom15 {
  margin-bottom: 15px !important; }

.margin_bottom20 {
  margin-bottom: 20px !important; }

.no_margin {
  margin: 0px; }

.margin_top20 {
  margin-top: 20px; }

.margin_top40 {
  margin-top: 40px; }

.margin_top50 {
  margin-top: 50px; }

.margin_top110 {
  margin-top: 110px; }

.full_height {
  height: 100%; }

.float_last_child:last-child {
  float: left !important; }

a:hover,
a:focus {
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
  text-decoration: none; }

.no_border {
  border: none !important; }

.no_padding_bottom {
  padding-bottom: 0px !important; }

/*-------- Common CSS end ----------------*/
.main_banner {
  background-image: url("https://i.ytimg.com/vi/OP96a9LW0rM/maxresdefault.jpg");
  background-size: cover; }

body {
  font-family: "dustismoregular";
  font-size: 18px; }

header {
  margin-top: 100px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px; }
  header h1 {
    text-align: center;
    color: #FFFAF0;
    font-size: 85px;
    font-weight: bold;
    font-family: "glacial_indifferencebold"; }

.main_nav {
  text-align: center;
  float: none; }
  .main_nav li {
    display: inline-block;
    float: none; }
    .main_nav li a {
      font-size: 20px;
      color: #fff !important;
      padding-top: 10px;
      padding-bottom: 10px; }
    .main_nav li a:hover {
      background-color: #555 !important; }
  .main_nav li.active a {
    background-color: #555 !important; }

.main_nav_container {
  background-color: transparent;
  border: 0; }

.sub_home {
  text-align: center;
  display: inline-block; }
  .sub_home img {
    height: 35px;
    float: left; }
  .sub_home h4 {
    color: #fff;
    font-size: 30px;
    float: left;
    margin-top: 2px;
    font-weight: bold; }

.common_heading {
  color: #000;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 25px;
  font-family: "glacial_indifferencebold"; }

.container_align {
  padding-top: 25px;
  padding-bottom: 25px; }

.experience_banner {
  padding-top: 25px;
  padding-bottom: 25px;
  background-image: url("http://evilcorps.com/wp-content/uploads/2014/12/wall_street_1920.jpg");
  background-size: cover;
  background-attachment: fixed; }

.exp_logo {
  height: 50px;
  margin-top: -10px;
  margin-right: 20px; }

.image_circle {
  border-radius: 10%;
  width: 200px;
  height: 200px;
  transform: scale(0.7);
  transition: all 0.3s ease-in-out;
  /*border: 2px solid black;*/
  position: relative; }

.image_circle:hover {
  transform: scale(0.9); }

.experience_block h5 {
  color: #fff;
  text-align: center;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 5px;
  font-weight: 800; }
.experience_block p {
  font-size: 16px;
  color: #fff; }

.c_a_image {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  border: 2px solid black;
  /*box-shadow: 2px 2px 5px grey;*/
  transform: scale(0.7);
  transition: all 0.3s ease-in-out;
  position: relative; }

.c_a_image:hover {
  transform: scale(0.9); }

.common_subhead {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  margin-top: 0px;
  font-family: "glacial_indifferencebold"; }

.portfolio {
  /*border: 2px solid blue;*/
  border-collapse: collapse;
  text-align: center;
  font-size: 18px;
  position: relative;
  width: 100%; }

.portfolio th,
td {
  border: 2px solid #6495ED;
  padding: 2px 10px;
  text-align: center;
  /*border-collapse: collapse;    */ }

.activity_block p {
  font-size: 18px;
  color: #000;
  text-align: justify;
  height: 145px;
  overflow: hidden; }

.skill_banner {
  padding-top: 25px;
  padding-bottom: 25px;
  background-image: url("https://thenypost.files.wordpress.com/2013/12/nyu1.jpg?quality=90&strip=all&w=664&h=441&crop=1");
  background-size: cover;
  background-attachment: fixed; }

.skills_sub_head {
  border: 2px solid black;
  /*width: 500px;*/
  text-align: center;
  background-color: #808080;
  padding: 5px;
  color: #000;
  font-weight: 800;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 5px;
  /*color: white;*/ }

.sub_skill_list h4 {
  border: 2px solid black;
  padding: 6px;
  text-align: center;
  background-color: #5F9EA0;
  transition: all 0.3s ease-in-out;
  transform: scale(1);
  font-weight: bold;
  font-size: 14px;
  color: #000; }

.sub_skill_list h4:hover {
  border: 2px solid #FDF5E6;
  transform: scale(1.1); }

.resume_btn {
  padding: 10px 80px;
  color: #fff;
  font-weight: 800;
  font-size: 24px;
  border: #fff 1px solid;
  background-color: rgba(0, 0, 0, 0.5); }

.resume_btn:hover,
.resume_btn:focus {
  background-color: #FFF8DC;
  /*color: white;*/
  box-shadow: 4px 4px 10px #DCDCDC;
  color: #000;
  border: transparent 1px solid; }

.sub_logo {
  /*width: 100px;*/
  height: 130px;
  border-radius: 50%;
  transform: scale(0.9);
  transition: all 0.3s ease-in-out;
  /*border: 2px solid black;*/
  /*top: -10%;*/ }

.sub_logo:hover {
  box-shadow: 5px 5px 5px #888888;
  transform: scale(1.2); }

.sub_para {
  border: 2px solid black;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  padding: 2px 5px; }

/* Page top button start */
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 30px;
  right: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  z-index: 9999999;
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(82, 190, 246, 0.9) url(../images/cd-top-arrow.svg) no-repeat center 50%;
  border: #fff 1px solid;
  border-width: thin;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s; }

.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s; }

.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1; }

.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5; }

.no-touch .cd-top:hover {
  background-color: #085e8b;
  opacity: 1; }

.cd-top:hover {
  background-color: #0a7fbc;
  opacity: 1; }

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px; } }
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 50px;
    width: 50px;
    right: 30px;
    bottom: 30px; } }
/* Page top button end */
@media only screen and (max-width: 991px) {
  .small_invert_text {
    color: #fff; }

  .sub_skill_list h4 {
    padding: 8px 5px !important;
    font-size: 20px !important; }

  .sub_para {
    font-size: 18px !important; } }
@media only screen and (max-width: 768px) {
  .main_nav_container {
    background-color: rgba(0, 0, 0, 0.5) !important;
    border-color: #e7e7e7 !important;
    border-radius: 5px; }

  .main_nav li {
    float: left !important;
    width: 100% !important; }

  .main_nav li a {
    color: #fff !important; } }
@media only screen and (max-width: 442px) {
  header h1 {
    font-size: 60px !important; } }
.small_hide {
  display: none; }

/*# sourceMappingURL=app.css.map */
